altgraph==0.17
certifi==2020.11.8
chardet==3.0.4
defusedxml==0.6.0
et-xmlfile==1.0.1
future==0.18.2
idna==2.10
jdcal==1.4.1
numpy==1.19.4
odfpy==1.4.1
openpyxl==3.0.5
pandas==1.1.4
pefile==2019.4.18
pyinstaller @ https://github.com/pyinstaller/pyinstaller/tarball/develop
pyinstaller-hooks-contrib==2020.10
python-dateutil==2.8.1
pytz==2020.4
pywin32-ctypes==0.2.0
requests==2.25.0
six==1.15.0
urllib3==1.26.2
xlrd==1.2.0
xlwt==1.3.0
